@import "../../styles/settings.scss";

.component {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
}

.card {
  position: relative;
  background: $color-light;
  padding: $base-size $base-size $base-size 0;
  margin: 0 0 $base-size 20px;

  &::before {
    position: absolute;
    content: "";
    background-color: $color-warning;
    height: 10px;
    width: 10px;
    border-radius: 50% 50%;
    display: block;
    top: 14px;
    margin-left: -20px;
  }
}
